@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to GitHub </h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">Deploy on Azure Web App using Azure CLI on cloudshell</a>.</p>
</div>
